@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes highlight {
    0%, 16.66% {
      background-position: -200% 0;
      opacity: 0.5;
    }
    20%, 26.66% {
      background-position: 0% 0;
      opacity: 1;
    }
    30%, 100% {
      background-position: 200% 0;
      opacity: 0.3;
    }
  }

  .animate-highlight {
    background: linear-gradient(
      90deg,
    rgba(255,255,255,0.7) 50%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.8) 100%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: whitesmoke;
    animation: highlight 18s ease-in-out infinite;
  }

  .feature-0 .animate-highlight {
    animation-delay: 0s;
  }
  .feature-1 .animate-highlight {
    animation-delay: 3s;
  }
  .feature-2 .animate-highlight {
    animation-delay: 6s;
  }
  .feature-3 .animate-highlight {
    animation-delay: 9s;
  }
  .feature-4 .animate-highlight {
    animation-delay: 12s;
  }
  .feature-5 .animate-highlight {
    animation-delay: 15s;
  }

  .text-default {
    color: rgba(255, 255, 255);
  }
}